<section class="mb-12 md:mb-20 lg:mb-24">
    <img src="/static/img/header.jpg" class="mx-auto mb-12 lg:mb-20">  
    <p class="text-lg lg:text-xl leading-normal font-sans max-w-4xl mx-auto">Hey there, and welcome to The Momographer! I'm Emily. This is where you would write a little blurb about what you do and why people should hire you. Keep it short - you can do a longer thing on the About page if you want one of those. Keep scrolling to see the gallery, that's what you're here for anyway, right? 😉</p>
</section>

